/* Row_More one 1-8 */

.RM_1{
	left :14px;
	top : 91px;
	position :absolute 
}
.RM_2{
	left :14px;
	top : 91px;
	position :absolute ;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: Bold;
	font-size: 11px;
	color: #000000
}
.RM_3{
	left :145px;
	top : 91px;
	position :absolute 
}
.RM_4{
	left :303px;
	position :absolute;
	top : 91px;
}
.RM_5{
	left :328px;
	position :absolute;
	top : 91px;
}
.RM_6{
	left :328px;
	position :absolute;
	top : 91px;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-size: 11px;
	font-weight: Bold;
	color: #000000
}
.RM_7{
	left :459px;
	position :absolute;
	top : 91px;
}
.RM_8{
	left :617px;
	position :absolute;
	top : 91px;
}

/* Row_More two 9-16 */

.RM_9{
	left :14px;
	top : 123px;
	position :absolute
}
.RM_10{
	left :14px;
	top : 123px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: Bold;
	font-size: 11px;
	color: #000000
}
.RM_11{
	left :145px;
	top : 123px;
	position :absolute
}
.RM_12{
	left :303px;
	top : 123px;
	position :absolute
}
.RM_13{
	left :328px;
	top : 123px;
	position :absolute
}
.RM_14{
	left :328px;
	top : 123px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_15{
	left :459px;
	top : 123px;
	position :absolute
}
.RM_16{
	left :617px;
	top : 123px;
	position :absolute
}

/* Row_More three 17-24 */

.RM_17{
	left :14px;
	top : 155px;
	position :absolute
}
.RM_18{
	left :14px;
	top : 155px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_19{
	left :145px;
	top : 155px;
	position :absolute
}
.RM_20{
	left :303px;
	top : 155px;
	position :absolute
}
.RM_21{
	left :328px;
	top : 155px;
	position :absolute
}
.RM_22{
	left :328px;
	top : 155px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_23{
	left :459px;
	top : 155px;
	position :absolute
}
.RM_24{
	left :617px;
	top : 155px;
	position :absolute
}

/* Row_More four 25-32 */

.RM_25{
	left :14px;
	top : 187px;
	position :absolute
}
.RM_26{
	left :14px;
	top : 187px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_27{
	left :145px;
	top : 187px;
	position :absolute
}
.RM_28{
	left :303px;
	top : 187px;
	position :absolute
}
.RM_29{
	left :328px;
	top : 187px;
	position :absolute
}
.RM_30{
	left :328px;
	top : 187px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_31{
	left :459px;
	top : 187px;
	position :absolute
}
.RM_32{
	left :617px;
	top : 187px;
	position :absolute
}

/* Row_More five 33-40 */

.RM_33{
	left :14px;
	top : 219px;
	position :absolute
}
.RM_34{
	left :14px;
	top : 219px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_35{
	left :145px;
	top : 219px;
	position :absolute
}
.RM_36{
	left :303px;
	top : 219px;
	position :absolute
}
.RM_37{
	left :328px;
	top : 219px;
	position :absolute
}
.RM_38{
	left :328px;
	top : 219px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_39{
	left :459px;
	top : 219px;
	position :absolute
}
.RM_40{
	left :617px;
	top : 219px;
	position :absolute
}

/* Row_More six 41-48 */

.RM_41{
	left :14px;
	top : 251px;
	position :absolute
}
.RM_42{
	left :14px;
	top : 251px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_43{
	left :145px;
	top : 251px;
	position :absolute
}
.RM_44{
	left :303px;
	top : 251px;
	position :absolute
}
.RM_45{
	left :328px;
	top : 251px;
	position :absolute
}
.RM_46{
	left :328px;
	top : 251px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_47{
	left :459px;
	top : 251px;
	position :absolute
}
.RM_48{
	left :617px;
	top : 251px;
	position :absolute
}

/* Row_More seven 49-56 */

.RM_49{
	left :14px;
	top : 283px;
	position :absolute
}
.RM_50{
	left :14px;
	top : 283px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_51{
	left :145px;
	top : 283px;
	position :absolute
}
.RM_52{
	left :303px;
	top : 283px;
	position :absolute
}
.RM_53{
	left :328px;
	top : 283px;
	position :absolute
}
.RM_54{
	left :328px;
	top : 283px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_55{
	left :459px;
	top : 283px;
	position :absolute
}
.RM_56{
	left :617px;
	top : 283px;
	position :absolute
}

/* Row_More eight 57-64 */

.RM_57{
	left :14px;
	top : 315px;
	position :absolute
}
.RM_58{
	left :14px;
	top : 315px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_59{
	left :145px;
	top : 315px;
	position :absolute
}
.RM_60{
	left :303px;
	top : 315px;
	position :absolute
}
.RM_61{
	left :328px;
	top : 315px;
	position :absolute
}
.RM_62{
	left :328px;
	top : 315px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_63{
	left :459px;
	top : 315px;
	position :absolute
}
.RM_64{
	left :617px;
	top : 315px;
	position :absolute
}

/* Row_More nine 65-72 */

.RM_65{
	left :14px;
	top : 347px;
	position :absolute
}
.RM_66{
	left :14px;
	top : 347px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_67{
	left :145px;
	top : 347px;
	position :absolute
}
.RM_68{
	left :303px;
	top : 347px;
	position :absolute
}
.RM_69{
	left :328px;
	top : 347px;
	position :absolute
}
.RM_70{
	left :328px;
	top : 347px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_71{
	left :459px;
	top : 347px;
	position :absolute
}
.RM_72{
	left :617px;
	top : 347px;
	position :absolute
}

/* Row_More ten 73-80 */

.RM_73{
	left :14px;
	top : 379px;
	position :absolute
}
.RM_74{
	left :14px;
	top : 379px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_75{
	left :145px;
	top : 379px;
	position :absolute
}
.RM_76{
	left :303px;
	top : 379px;
	position :absolute
}
.RM_77{
	left :328px;
	top : 379px;
	position :absolute
}
.RM_78{
	left :328px;
	top : 379px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_79{
	left :459px;
	top : 379px;
	position :absolute
}
.RM_80{
	left :617px;
	top : 379px;
	position :absolute
}

/* Row_More eleven 81-88 */

.RM_81{
	left :14px;
	top : 411px;
	position :absolute
}
.RM_82{
	left :14px;
	top : 411px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_83{
	left :145px;
	top : 411px;
	position :absolute
}
.RM_84{
	left :303px;
	top : 411px;
	position :absolute
}
.RM_85{
	left :328px;
	top : 411px;
	position :absolute
}
.RM_86{
	left :328px;
	top : 411px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_87{
	left :459px;
	top : 411px;
	position :absolute
}
.RM_88{
	left :617px;
	top : 411px;
	position :absolute
}

/* Row_More twelve 89-96 */

.RM_89{
	left :14px;
	top : 443px;
	position :absolute
}
.RM_90{
	left :14px;
	top : 443px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_91{
	left :145px;
	top : 443px;
	position :absolute
}
.RM_92{
	left :303px;
	top : 443px;
	position :absolute
}
.RM_93{
	left :328px;
	top : 443px;
	position :absolute
}
.RM_94{
	left :328px;
	top : 443px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_95{
	left :459px;
	top : 443px;
	position :absolute
}
.RM_96{
	left :617px;
	top : 443px;
	position :absolute
}

/* Row_More thirteen 97-104 */

.RM_97{
	left :14px;
	top : 475px;
	position :absolute
}
.RM_98{
	left :14px;
	top : 475px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_99{
	left :145px;
	top : 475px;
	position :absolute
}
.RM_100{
	left :303px;
	top : 475px;
	position :absolute
}
.RM_101{
	left :328px;
	top : 475px;
	position :absolute
}
.RM_102{
	left :328px;
	top : 475px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_103{
	left :459px;
	top : 475px;
	position :absolute
}
.RM_104{
	left :617px;
	top : 475px;
	position :absolute
}

/* Row_More fourteen 105-112 */

.RM_105{
	left :14px;
	top : 507px;
	position :absolute
}
.RM_106{
	left :14px;
	top : 507px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_107{
	left :145px;
	top : 507px;
	position :absolute
}
.RM_108{
	left :303px;
	top : 507px;
	position :absolute
}
.RM_109{
	left :328px;
	top : 507px;
	position :absolute
}
.RM_110{
	left :328px;
	top : 507px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_111{
	left :459px;
	top : 507px;
	position :absolute
}
.RM_112{
	left :617px;
	top : 507px;
	position :absolute
}

/* Row_More fifteen 113-120 */

.RM_113{
	left :14px;
	top : 539px;
	position :absolute
}
.RM_114{
	left :14px;
	top : 539px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_115{
	left :145px;
	top : 539px;
	position :absolute
}
.RM_116{
	left :303px;
	top : 539px;
	position :absolute
}
.RM_117{
	left :328px;
	top : 539px;
	position :absolute
}
.RM_118{
	left :328px;
	top : 539px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_119{
	left :459px;
	top : 539px;
	position :absolute
}
.RM_120{
	left :617px;
	top : 539px;
	position :absolute
}

/* Row_More sixteen 121-128 */

.RM_121{
	left :14px;
	top : 571px;
	position :absolute
}
.RM_122{
	left :14px;
	top : 571px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_123{
	left :145px;
	top : 571px;
	position :absolute
}
.RM_124{
	left :303px;
	top : 571px;
	position :absolute
}
.RM_125{
	left :328px;
	top : 571px;
	position :absolute
}
.RM_126{
	left :328px;
	top : 571px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_127{
	left :459px;
	top : 571px;
	position :absolute
}
.RM_128{
	left :617px;
	top : 571px;
	position :absolute
}

/* Row_More seventeen 129-136 */

.RM_129{
	left :14px;
	top : 603px;
	position :absolute
}
.RM_130{
	left :14px;
	top : 603px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_131{
	left :145px;
	top : 603px;
	position :absolute
}
.RM_132{
	left :303px;
	top : 603px;
	position :absolute
}
.RM_133{
	left :328px;
	top : 603px;
	position :absolute
}
.RM_134{
	left :328px;
	top : 603px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_135{
	left :459px;
	top : 603px;
	position :absolute
}
.RM_136{
	left :617px;
	top : 603px;
	position :absolute
}

/* Row_More eightteen 137-144 */

.RM_137{
	left :14px;
	top : 635px;
	position :absolute
}
.RM_138{
	left :14px;
	top : 635px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_139{
	left :145px;
	top : 635px;
	position :absolute
}
.RM_140{
	left :303px;
	top : 635px;
	position :absolute
}
.RM_141{
	left :328px;
	top : 635px;
	position :absolute
}
.RM_142{
	left :328px;
	top : 635px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_143{
	left :459px;
	top : 635px;
	position :absolute
}
.RM_144{
	left :617px;
	top : 635px;
	position :absolute
}

/* Row_More nineteen 145-152 */

.RM_145{
	left :14px;
	top : 667px;
	position :absolute
}
.RM_146{
	left :14px;
	top : 667px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_147{
	left :145px;
	top : 667px;
	position :absolute
}
.RM_148{
	left :303px;
	top : 667px;
	position :absolute
}
.RM_149{
	left :328px;
	top : 667px;
	position :absolute
}
.RM_150{
	left :328px;
	top : 667px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_151{
	left :459px;
	top : 667px;
	position :absolute
}
.RM_152{
	left :617px;
	top : 667px;
	position :absolute
}

/* Row_More twenty 153-160 */

.RM_153{
	left :14px;
	top : 699px;
	position :absolute
}
.RM_154{
	left :14px;
	top : 699px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_155{
	left :145px;
	top : 699px;
	position :absolute
}
.RM_156{
	left :303px;
	top : 699px;
	position :absolute
}
.RM_157{
	left :328px;
	top : 699px;
	position :absolute
}
.RM_158{
	left :328px;
	top : 699px;
	position :absolute;
	font-family : Arial Unicode MS,Verdana,Arial,Tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #000000
}
.RM_159{
	left :459px;
	top : 699px;
	position :absolute
}
.RM_160{
	left :617px;
	top : 699px;
	position :absolute
}