body, img, div, table, td {
	background: url(iepngfix.htc);
}

html {
	background-color: transparent;
}

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #000;
	text-decoration: none;
	font-weight: normal;
	background-color: transparent;
	margin: 0px;
	line-height: 14px;
}

table, tr, td, p {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #000;
	text-decoration: none;
	font-weight: normal;
	line-height: 14px;
}

input, select, textarea {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #555;
	margin: 1px 5px 2px 5px;
	/*background-color: #f7f2d0;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
	border-left: 1px solid #716a5b;
	border-top: 1px solid #716a5b;
	border-right: 1px solid #615a4b;
	border-bottom: 1px solid #615a4b;*/
}

a:link {
	color: #003399;
	text-decoration: underline;
	font-weight: normal;
}

a:visited {
	color: #3366CC;
	text-decoration: underline;
	font-weight: normal;
}

a:hover {
	color: #7d4a22;
	text-decoration: none;
	font-weight: normal;
}

a:active {
	color: #ff0000;
	text-decoration: underline;
	font-weight: normal;
}

h1	{
	font-size: 180%;
	font-weight: bold;
}

h2	{
	font-size: 160%;
	font-weight: bold;
	padding: 0px;
}

h3	{
	font-size: 140%;
	font-weight: bold;
}

h4	{
	font-size: 120%;
	font-weight: normal;
}

h5	{
	font-size: 110%;
	font-weight: bold;
	padding: 0px;
}

hr {
	border: 1px solid #464e58;
	width: 80%;
	margin: 0px 0px 0px 0px;
}

#main {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.main_img {
	background: url('background_image.gif') no-repeat;
	background-position: top right;
}

.main_img2 {
	background: url('background_image2.png') no-repeat;
	background-position: top right;
}

.title {
	padding: 5px 0px 0px 15px;
	/*background: url('background_title.png') no-repeat;*/
}

#error {
	width: 500px;
	border: 1px solid #990000;
	background-color: #ffffcc;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
	font-size: 12px;
	color: #cc0000;
	font-weight: bold;
	text-align: left;
	padding: 10px;
}

.main_header_bar {
	background: url('headerbar_center.gif') repeat-x;
	font-weight: bold;
	color: #fff;
	height: 22px;
}

.subheader {
	background-color: #dbc7a3;
	border-bottom: 1px solid #615a4b;
	border-left: 1px solid #615a4b;
	border-right: 1px solid #615a4b;
	font-weight: bold;
	padding: 1px 5px 2px 5px;
}

.header_bar {
	background: url('background_headerbar.gif') repeat-x;
	font-weight: bold;
	color: #fff;
	height: 22px;
	border: 1px solid #615a4b;
	padding: 1px 5px 2px 5px;
}

.alert {
	background: #fff url('background_alert.jpg') repeat-x;
	border-bottom: 1px solid #615a4b;
	border-left: 1px solid #615a4b;
	border-right: 1px solid #615a4b;
	padding: 10px 10px 10px 10px;
}

.even {
	background-color: #fff0c4;
	border-bottom: 1px solid #615a4b;
	border-left: 1px solid #615a4b;
	border-right: 1px solid #615a4b;
	padding: 1px 5px 2px 5px;
}

.odd {
	background-color: #fff;
	border-bottom: 1px solid #615a4b;
	border-left: 1px solid #615a4b;
	border-right: 1px solid #615a4b;
	padding: 1px 5px 2px 5px;
}

.copyright {
	font-size: 10px;
	line-height: 14px;
}