BODY		{
	margin: 0,0;
	background-color:#fafafa;
	font-family: Tahoma,Verdana;
	font-size:8.5pt;
}

TD	{
	font-family: Tahoma,Verdana;
	font-size:8.5pt;
	}

.MoreInfo
{
	BACKGROUND: Gray;
	color:White;
}

.GroupHdr
{
	BACKGROUND: DimGray;
	color:White;
}

.GroupClass
{
	PADDING-LEFT: 5pt;
	PADDING-RIGHT: 5pt;
}

.WrnDiv
{
	BACKGROUND: #f5f5f5;
}

.ErrDiv
{
	BACKGROUND: #f0f0f0;
}

.MajorTitle
{
	font-size:9pt;
	font-weight:bold;
}

.bld
{
	font-weight:bold;
}

.InfHeader
{
	font-weight:bold;
	text-align: center;
	width: 100%;
}

.WrnHeader
{
	font-weight:bold;
	text-align: center;
	width: 100%;
}

.ErrHeader
{
	color:Maroon;
	font-size:12pt;
	font-weight:bold;
	width: 100%;
}

.ErrMessage
{
	color:Maroon;
	font-size:9pt;
	width: 100%;
}
